.nav{
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2em;
}
input{
    padding: 12px 20px;
    border: none;
    background: #f6f7f7;
    outline: none;
    margin-right: 19px;
    border-radius: 5px;
    position: relative;
    width: 14em;
}
.nav-icons{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 2rem;
    color: black;
}
